body {
  background-color: #912727;
  font-family: "Press Start 2P", cursive;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.scoreContainer {
  display: inline-flex;
  color: white;
}
